.button {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #eeaa6c; /* Button-like border */
    border-radius: 15px;
    text-decoration: none;
    color: #4b010b;
    font-weight:normal;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #F2BE8E;
    color: #4b010b;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1%;
    padding-top: 4rem;
}

.image-tile {
    position: relative;
    flex: 0 0 calc(33.33% - 10px); /* Three columns with margin */
    margin-bottom: 20px; /* Adjust as needed */
}
#illustrations{
    height: 100vh;
    padding-top: 150px;
}

.image-description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10%;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #6b010c;
}

.image-tile:hover .image-description {
    display: block;
}

.image-tile img {
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Nice shadow effect */
}

.childrenIllustration{
    font-weight: bold;
    font-size: xx-large;
}

.h1_description, .h4_description{
    text-align: center;
    color: #b34237;


}
/* Media queries for responsive design */

@media screen and (max-width: 768px) {
    #illustrations {
        padding-top: 100px; /* Adjust padding for smaller screens */
    }
    .button {
        font-size: 6pt;
    }
    .childrenIllustration {
        font-size: 8pt; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    #illustrations {
        margin-top: 20px; /* Adjust margin for smaller screens */
        padding-top: 80px; /* Further adjust padding for smaller screens */
    }
    .button {
        font-size: 6pt;
    }


    .childrenIllustration {
        font-size: 8pt; /* Further adjust font size for smaller screens */
    }
}
