
.section__text__p1 {
    color: #0e0006;
    font-size: xx-large;

}
.designtext h4 {
    color: #0e0006;
    font-weight: lighter;
}
.linkedin-icon1 {
    margin: 10px;
}
.behance-icon2  {
    margin: 10px;
}
.github-icon3 {
    margin: 10px;
}

body {
    /*display: flex;*/
    justify-content: center;
    background-image: url("../../Assets/footer-illustration-banner-opac.png");
    background-size:contain;
    background-position: center;
    width: 100%;
    padding-top: 40px;
}

#profile {
    padding: 50px;
    height: 100vh;

}


.profile__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__text {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    color: #0e0006;
}

.title {
   color: #d95b76;
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgb(14, 0, 6);
}

.image__container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image {
    max-width: 100%;
    max-height: 620px;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 20px;
    width: 11rem;
    height: 3rem;
}

.btn-color-1,
.btn-color-2 {
    background-color: #d95b76;
    color: #0e0006;
    box-shadow: 7px 5px 5px #f69daf;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}

.social-icon {
    margin-left: 30px;
    padding-top: 20px;

}

/* Media queries for responsiveness */
/* For screens up to 768px width */
@media only screen and (max-width: 768px) {
    .profile__container {
        flex-direction: column;
    }
    .section__text {
        margin-right: 0;
        /*margin-bottom: 20px;*/
    }
    .image__container {
        /*margin-top: 20px;*/
    }
    .btn{
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 16px;
        width: 7rem;
        height: 4rem;

    }
    .introtext {
        font-size: 1.3rem;
    }
}
/* For screens between 768px and 1024px width */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-image {
        max-height: 400px;
    }

}
