
/*.section__text__p1 {*/
/*    color: #442102;*/
/*}*/
/*.designtext h4 {*/
/*    color: #4b010b;*/
/*    font-weight: lighter;*/
/*}*/

body {
    background-color: #fdf3ea;
}

#profile {
    padding: 50px;
}


.profile__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__text {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.title {
   color: #f3b881;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgb(70, 1, 17);
}

.image__container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image {
    max-width: 100%;
    max-height: 600px;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 16px;
    width: 11rem;
    height: 3rem;
}

.btn-color-1,
.btn-color-2 {
    background-color: #f3b881;
    color: #4b010b;
    box-shadow: 7px 5px 5px #e07c24;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}

.social-icon {
    margin-left: 30px;
    padding-top: 20px;

}

/* Media queries for responsiveness */
/* For screens up to 768px width */
@media only screen and (max-width: 768px) {
    .profile__container {
        flex-direction: column;
    }
    .section__text {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .image__container {
        margin-top: 20px;
    }
}
/* For screens between 768px and 1024px width */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-image {
        max-height: 400px;
    }
}

