.getInTouch {
    font-style: italic;
    font-weight: bold;
    color: #b34237;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgb(82, 40, 2);
}

#contact {
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/footer-illustration-banner-opac.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 40px;
}

.Contactform {
    margin-top: 80px;
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0 1px #E99F4C;
    width: 450px;
    height: 550px;
    border-radius: 16px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDDCD9;
    font-family: Jaldi, sans-serif;
}

/* Form style */
form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-image {
    width: 100%; /* Adjust image width to fill container */
    max-width: 500px; /* Limit image width */
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%; /* Adjust input width to fill container */
    max-width: 360px; /* Limit input width */
    height: 70px;
    padding: 8px;
    margin-bottom: 10px;
    border: #fde2c9;
    border-radius: 20px;
    box-shadow: 3px 4px 1px 1px #E99F4C;
    color: #b34237;
}

input[type="message"],
textarea {
    width: 100%; /* Adjust input width to fill container */
    max-width: 360px; /* Limit input width */
    height: 120px;
    padding: 8px;
    margin-bottom: 10px;
    border: #fde2c9;
    border-radius: 20px;
    color: #b34237;
}

input[type="submit"] {
    background-color: #d36f15;
    color: #fdfdfd;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 4px 2px 1px #E99F4C;
    margin-top: 10px;
    margin-bottom: 12px;
}

input[type="submit"]:hover {
    background-color: #d36f15;
}

input[type="submit"]:focus {
    outline: none;
}

/* Media queries for responsive design */

@media screen and (max-width: 768px) {
    .Contactform {
        width: 50%; /* Adjust form width for smaller screens */
        max-width: 450px; /* Limit form width */
    }
    .getInTouch{
        font-size: 30pt;
    }
    .contact-image {
        width: 50%; /* Adjust image width for smaller screens */
        max-width: 400px; /* Limit image width */
    }
    .intouch{
        /*width: 25%;*/
        display: none;
    }
    input[type="email"], input[type="text"], textarea  {
        width: 100%;
        max-width: 180px !important;
    }
    .recapture{
        transform: scale(0.6); /* Adjust the scale value as needed */
        transform-origin: 0 0; /* Optional: Change the origin of the transformation */
    }
    .Contactform {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .Contactform {
        width: 80%; /* Further adjust form width for smaller screens */
    }

    .contact-image {
        width: 50%; /* Further adjust image width for smaller screens */
    }

    .getInTouch {
        font-size: 40px; /* Adjust font size for smaller screens */
    }
}
