@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@300');

.navbar {
    background-color: transparent;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    /*background-color: rgba(255, 255, 255, 0.6); !* transparency added *!*/
    backdrop-filter: blur(10px); /* optional: frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    padding-top: 15px;
    padding-bottom: 0;
}



.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #2e080d;
    text-decoration: none;
    font-size: 18px;
    font-family: Jaldi, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;

    /* border: 6px solid #f6d5b7;
     border-radius: 4px;
     background-color: #f6d5b7;
     box-shadow: 7px 5px 5px #df883b;*/
}

.logo {
    width: 60px;
}

/* Media query for responsive navbar */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-nav.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar-toggle-label {
        display: block;
        cursor: pointer;
        /*margin-left: auto;*/
    }

    .nav-item {
        margin: 10px 0;
    }
    .nav-link:hover {
        background-color: #f3b881;
    }

}



