@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@300');

.navbar {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Add this line */
    background-color: #fdf3ea;
    padding-top: 15px;
    padding-bottom: 0;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #7B2933;
    text-decoration: none;
    font-size: 18px;
    font-family: Jaldi, sans-serif;
    border: 6px solid #F2BE8E;
    border-radius: 4px;
    background-color: #F2BE8E;
    box-shadow: 7px 5px 5px #e07c24;
}

.logo {
    width: 60px;
}

/* Media query for responsive navbar */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-nav.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar-toggle-label {
        display: block;
        cursor: pointer;
        /*margin-left: auto;*/
    }

    .nav-item {
        margin: 10px 0;
    }
}



