@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@300');

.navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align logo to left and menu items to right */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #7B2933;
    text-decoration: none;
    font-size: 18px;
    font-family: Jaldi, sans-serif;
    border: 4px solid #F2BE8E; /* Added solid border style */
    border-radius: 4px;
    background-color: #F2BE8E;
}

.nav-link:hover {
    text-decoration: underline;
}