.footer{
    background-color: #fadfcc;
    padding: 10px;
}
.logo-footer {
    width: 120px;
}

.slogan{
    font-size: small;
    color: #b34237;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: Jaldi, sans-serif;

}

.Copyright{
    font-size: small;
    color: #090909;
    text-align: center;
    font-style: italic;
    /*margin-top: 80px;*/
    font-family: Jaldi, sans-serif;
}

.linkedin-icon {
    margin-right: 1rem;
    margin-left: 640px;
}

.behance-icon {
    margin-right: 1rem;

}

.github-icon {
    margin-right: 1rem;

}